.header {
  border-bottom: 1px solid $another-white;
}

@media screen and (max-width: $m) {
  .header-nav__list {
    display: none;
  }
}

@media screen and (min-width: $m) and (max-width: 1199px) {
  .header-nav__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }
}

@media screen and (min-width: $l) {
  .header-nav__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }
}

.header-nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 0 23px;
}

.header-address__contacts-data {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tertiary-color, #757575);
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}

@media screen and (min-width: $m) and (max-width: 1199px) {
  .header-address {
    list-style-type: none;
    padding: 0px;
  }
}

@media screen and (min-width: $l) {
  .header-address {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
  }
}

@media screen and (max-width: $m) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}

@media screen and (min-width: $m) and (max-width: 1199px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

@media screen and (min-width: $l) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

@media screen and (min-width: $m) and (max-width: 1199px) {
  .header-address__item--margin {
    margin-right: 70px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $l) {
  .header-address__item--margin {
    margin-right: 20px;
  }
}

.header__logo--margin {
  margin-right: 70px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-address__icon {
  fill: var(--tertiary-color, #757575);
  cursor: pointer;
}

.header-address__icon:hover + .header-address__contacts-data,
.header-address__icon:focus + .header-address__contacts-data {
  color: var(--secendary-color, #2196f3);
  fill: var(--secendary-color, #2196f3);
}

.header-address__item {
  display: flex;
  align-items: center;
}

.header-address__item--margin {
  margin-right: 20px;
}

.header-nav__item--active {
  position: relative;
  &::after {
    content: "";
    background: var(--secendary-color, #2196f3);
    border-radius: 2px;
    position: absolute;
    top: 46px;
    left: 22px;
    width: 58px;
    height: 4px;
  }
}

.header-address__item:hover svg,
.header-address__item:focus svg,
.header-address__item.icon-contact:hover {
  fill: var(--secendary-color, #2196f3);
  transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_mobile-menu:hover,
.header_mobile-menu:focus {
  fill: var(--secendary-color, #2196f3);
}
